/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #fcfbf9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Georgia, Arial, Verdana, sans-serif;
    font-size: 15px;
    /*overflow-x: hidden;*/
}

.allbody { height: 1000px; background: #fcfbf9; }


.titreBillet {
    margin-bottom: 0px;    
}

.Alaska_banner {
    height: 250px;
    background: url("https://www.goodfreephotos.com/albums/united-states/alaska/other-alaska/final2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2600px;
    margin-bottom: 30px;
}

#header-perso3 { 
    height: 200px;
}

#logo2 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 20%;
}

#Alaska_text {
    font-size: 300%;
    margin-top: 100px;
    text-align: center;
    background-image: linear-gradient( to right, blue, #f06d06);
    color: white;
    font-family: Roboto, sans-sherif;
}

.banner {
    height: 500px;
    min-height: 100px;
    background: #0e0c08;
    box-shadow: 3px 3px 10px 5px #000;
    margin-bottom: 100px;
}

footer {
    position: relative;
    background-color:  #17202a;
    text-align: center;
    color: white;
    z-index: 9999;
    margin-top: 50px;
}

#logo_text {
    text-align: center;
    font-size: 1.2em;
    color: #54534a;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
}

.col-sm-9 p {
    font-family: Indie Flower, sans-serif;
    font-size: 1.3em;
}

#who-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #046380;
    box-shadow: 3px 3px 10px 5px #000;
    padding: 10px;
    background: url("http://www.fondecranmagique.com/divers/livre/1345622663.jpg");
}

#Propos_edit {
    font-size: 1em;
    color: grey;
    font-family: Indie Flower, sans-serif;
}

#jean {
    border-radius: 20%;
    height: 150px;
    width: 100%;
}

#last_chap > h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #046380;
    box-shadow: 3px 3px 10px 5px #000;
    padding: 10px;
    width: 100%;
    background: url("http://www.fondecranmagique.com/divers/livre/1345622663.jpg");
}

.form-control {
    width: 70%;
}

.All_billet {
    margin-left: 100px;
}

.Chap_com {
    margin-left: 40px;
}

hr {
    height: 2px;
    border: 0;
    color: black;
    background-color: black;
}

#adminHR { 
    width: 70%;
    background: #e7e7e7;
}

.Chapitre {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 { text-align: center; }

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
    margin-top: 55px;
    line-height: 50px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin-top: 10px;
    font-family: Cormorant Garamond, sans-serif;
}


.sidenav a:hover {
    background-color: #c4c4c4;
}

.navbar-nav {
    margin-left: auto;
}

ol,
ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
}

.sidenav a:active {
background-color: #9994c1;}

#form_connexion { 
    margin-left: 50px;
}

.title-id {
    color: #046380;
}

#post_title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 120px;
}

#comment_title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 120px;
}

#comment_subtitle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: -50px;
}

#auteur_title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 120px;
}

#board_title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#put_is_read_ {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#btn-success{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

#pagination{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: roboto, sans-serif;
    font-size: 15px;
}

#Titre_Episode {
    margin-bottom: 50px;
    width: 50%;
    font-family: Cormorant Garamond, sans-serif;
    background-size: 120%;
    background-position: -20px;
    font-size: 3em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
}

#all_episode {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;  
    border: solid 1px #e0e0e0;
}

#all_episode h1 {
    font-size: 2em;
    padding: 10px;
}

#Body_episode {
    background: url(https://i.pinimg.com/originals/9f/8c/9b/9f8c9b4f1cb220277f8dcace57aa0e26.jpg);
}

.erreur_404 {
    text-align: center; 
    height: 230px;
}

.alert-danger { 
    width: 100%; 
    margin-right: auto;
    margin-left: auto;
}

#left_contain {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}


#left_contain p {
    text-align: center;
    line-height: 100px;
    font-family: Cormorant Garamond, sans-serif;
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

#left_contain h3 {
       text-align: center;
}

.panel-default {
    margin-left: 20%;
    margin-right: auto;
    border: solid 1px #e0e0e0;
    padding-bottom: 10px;
}

.panel-default input {
    margin-top: 10px;
}

.panel-heading {
    background-color: #eeeded;
    padding: 15px;
    border: solid 1px #e0e0e0;
}

.HRprofil {
    margin-right: auto;
    background-color: #e0e0e0;
}

#profile-image1 {
    border-radius: 50%;
    width: 60%;
    margin-top: 20px;
    margin-left: -40%;
}

.table { 
    margin-left: 20%;
    margin-top: 80px;
    width: 80%;
 }

thead {
    font-weight: bold;
}

tbody tr:hover {
    background-color: #eeeded;
}

tbody tr {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

#contenu_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 30px;
}

#contenu h1 {
    color: #046380;
}

#btn_newbillet {
    margin-left: 2%;
}


#contenu_modif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}



.modal {
    margin-top: 200px;
}

#image_alaska{
    background: url(http://www.juneteenthalaskaalcan.com/wp-content/uploads/2017/05/ChugachMountains.jpg);
}

#Mountains {
    width: 100%;
    height: 300px;
}

#contenu_histoire {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    margin-bottom: 30px;
}

#histoireTitre {
    max-width: 100%;

}

#photo_profil {
    margin-top: 20px;
}

.commentaire_view {
    margin-left: 5%;
    height: 100%;
    background-color: #eeeded;
    padding: 15px;
    border: solid 3px #e0e0e0;
    width: 90%;
}

#retour_acceuil{
    display: none;
}

#next {
    float: right;
    padding: 10px;
}

#previous {
    padding: 10px;
}

#message_flash{
    margin-left: 18%;
    margin-top: 80px;
    width: 80%;
}



@media all and (max-width: 980px) {

    .allbody { 
        height: 100%; 
        background: #fcfbf9; 
    }

    .fa-check {
        display: block;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .sidenav {
        position: relative;
        margin-top: 0px;
    }

    thead {
        display: none;
    }

    #jean {
        display: none;    }

    #logo_text {
        margin-top: -10px;
    }

    .table { 
        margin-left: 10%;
    }

    #Titre_Episode {
        font-size: 3em;
    }


    tr,
    td {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #left_contain {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        padding-top: 56px;
    }

    .banner {
        height: 300px;
    }

    .Episode img {
        display: none;
    }

    .All_billet {
        margin-left: 5%;
    }
    
    .Chap_com { 
        margin-left: 5%;
    }

    #all_episode{
        border: none;
    }

    #all_episode h1 {
        width: 200%;
        margin-left: -50%;
    }

    #photo_afficher {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    #nav_admin { 
        z-index: 9999;
        width: 100%;
        top: 0;
        left: 0;
        line-height: 50px;
    }

    .sidenav {
        height: 100%;
        width: 100%;
        background-color: transparent;
    }

    .sidenav a {
        color: #f0f0f0;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1em;
        line-height: 10px;
    }

    .sidenav a:hover {
        color: #000;
    }

    #retour_acceuil {
        display: block;
    }

    #left_contain{
        font-size: .8em;
        height: 100%;
        margin-top: -50px;
    }

    #left_contain p {
        line-height: 20px;
    }

    .panel-default {
        margin-left: 20%;
    }

    #post_title {
        margin-top: 40px;
    }

    #comment_title {
        margin-top: 40px;
    }

    #auteur_title {
        margin-top: 40px;
    }

    h1 {
        font-size: 2em;
    }

    #message_flash{
        margin-left: 10%;
        width: 80%;
    }
}

@media all and (max-width: 680px) {

    .panel-default {
        margin-left: 10%;
    }


    .col-sm-9 p {
        font-size: 1.1em;
    }

    .col-sm-9 h3 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 480px) {

    #jean {
        display: none;
    }

    #logo2 { width: 50%; }

    .banner {
        height: 210px;
    }

    #logo_text {
        font-size: 1em;
        margin-top: -10px;
    }

    .col-sm-9 p {
        font-size: 1em;

    }

    .col-sm-9 h3 {
        font-size: 1.3em;
    }

    #chap_title {
        font-size: 1em;
    }

    .title-id {
        font-size: 1.5em;
    }

    #Titre_Episode {
        font-size: 2.5em;
        width: 100%;
    }

    #who-title {
        font-size: 1em;
        background: url("http://www.fondecranmagique.com/divers/livre/1345622663.jpg");
        background-size: 280%;
        margin-top: -20px;
    }

    #last_chap>h2 {
        font-size: 1em;
        background: url("http://www.fondecranmagique.com/divers/livre/1345622663.jpg");
        background-size: 280%;
        margin-top: 20px;
    }

    .chapitre {
         font-size: 1em;
    }

    #header-perso2 {
        height: 100px;
    }

    #header-pers2 img {
        margin-top: 20px;
        width: 30%;
    }

    .Chapitre article {
        font-size: 0.8em;
    }

    article h1 {
        font-size: 2em;
    }

    #all_episode h1 {
        font-size: 1.1em;
        border : solid 2px;
        width: 200%;
        padding: 10px;
        margin-left: -50%;
    }

    #all_episode {
        margin-top: -20px;
    }

    #adminHR { display: none; }

    .panel-default {
        margin-left: -10px;
    }

    #left_contain {
        font-size: .8em;
        height: 100%;
        margin-top: -100px;
    }


    .All_billet p {
       font-size: 0.9em;;
    }

    #titreReponses { font-size: 1.5em; }

    #message_flash {
        font-size: 0.7em;
    }
}